.container{
  display: flex;
  justify-content: space-between;
  width: 100%;

  .actions-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actions{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.no-requests{
  height: calc(100% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f51b5;
}

mat-panel-title{
  display: flex;
  align-items: center;
}
