<div class="container">
  <div class="items">
    <div class="items-body">
      <a routerLink="/instructor" routerLinkActive="active" class="items-body-content">
        <span>Керівник атестаційної роботи</span>
        <i class="fa fa-angle-right"></i>
      </a>
      <a routerLink="/theme" routerLinkActive="active" [class.disabled]="step < 1"  class="items-body-content">
        <span>Тема дипломної роботи</span>
        <i class="fa fa-angle-right"></i>
      </a>
      <a routerLink="/diploma-parts" routerLinkActive="active" [class.disabled]="step < 2" class="items-body-content">
        <span>Записка до диплому</span>
        <i class="fa fa-angle-right"></i>
      </a>
      <a routerLink="/practice-report" routerLinkActive="active" [class.disabled]="step < 3" class="items-body-content">
        <span>Звіт з практики</span>
        <i class="fa fa-angle-right"></i>
      </a>
      <a routerLink="/diploma-protection" routerLinkActive="active" [class.disabled]="step < 3" class="items-body-content">
        <span>Запис на захист диплому</span>
        <i class="fa fa-angle-right"></i>
      </a>
      <a routerLink="/materials" routerLinkActive="active" class="items-body-content">
        <span>Матеріали</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
