.container{
  width: 800px;
  max-height: 600px;
  overflow: auto;
  font-size: 18px;
}

p{
  border-bottom: 2px solid lightgrey;
}

p:not(:first-child) {
  margin: 20px 0;
}

:host::ng-deep{
  ul {
    list-style: initial;
  }
}
