<div class="container">
  <div class="items">
    <div class="items-body">
      <a routerLink="/students" routerLinkActive="active" class="items-body-content">
        <span>Студенти</span>
        <i class="fa fa-angle-right"></i>
      </a>
      <a routerLink="/employees" routerLinkActive="active" class="items-body-content">
        <span>Працівники</span>
        <i class="fa fa-angle-right"></i>
      </a>
      <a routerLink="/departments" routerLinkActive="active" class="items-body-content">
        <span>Освітні програми</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
