<footer color="primary" class="footer">
  <div class="soc-media-container">
    <a target="_blank" href="https://www.facebook.com/nureKharkiv/">
      <img class="soc-media" src="./assets/iconfinder_facebook.png" alt="">
    </a>
    <a target="_blank" href="https://www.instagram.com/khnure_official/">
      <img class="soc-media" src="./assets/iconfinder_instagram.png" alt="">
    </a>
    <a target="_blank" href="https://www.youtube.com/user/nuretv">
      <img class="soc-media" src="./assets/iconfinder_youtube.png" alt="">
    </a>
    <a target="_blank" href="https://www.linkedin.com/school/kharkiv-national-university-of-radioelectronics/">
      <img class="soc-media" src="./assets/iconfinder_linkedin.png" alt="">
    </a>
    <a target="_blank" href="https://nure.ua/">
      <img class="soc-media" src="./assets/iconfinder_home.png" alt="">
    </a>
  </div>
</footer>
