.footer{
  height: 84px;
  display: flex;
  align-items: center;
  background: #3f51b5;
  justify-content: center;
}
.soc-media{
  height: 56px;
  margin-left: 6px;
}

.soc-media-container{
  margin-left: 20px;

}
