<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <img class="logo" src="./assets/logo.png" alt="">
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Пошта" formControlName="email" name="email" required>
          <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessage(form.controls.email)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Пароль" formControlName="password" type="password" name="password" required>
          <mat-error *ngIf="form.controls.password.invalid">{{getErrorMessage(form.controls.password)}}</mat-error>
        </mat-form-field>

        <mat-error *ngIf="form.hasError('bad')">Некоректна пошта або пароль</mat-error>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="sing-in-btn" mat-raised-button (click)="login()" color="primary">Ввійти</button>
  </mat-card-actions>
</mat-card>
