:host{
  display: flex;
  justify-content: center;
}

.container{
  width: 650px;
  display: flex;
  flex-direction: column;
}

.actions{
  display: flex;
  justify-content: space-between;
  button {
    width: 48%;
  }
}
