#standalone-container {
  height: 500px;
  width: 800px;
  #editor{
    height: 430px;
  }
}

.actions{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  .ok-btn{
    margin-right: 10px;
  }
}

