:host{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container{
  mat-toolbar{
    margin-bottom: 20px;
  }
  max-height: 500px;
  height: 400px;
  width: 800px;
  overflow: auto;
  margin-bottom: 20px;
}
.item{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}


.actions {
  display: flex;
  justify-content: flex-end;
  button{
    width: 200px;
  }
}
