<form (submit)="onSubmit()" [formGroup]="form" class="container">
  <mat-form-field>
    <label for="degree" class="bmd-label-floating">Оберіть керівника</label>
    <mat-select formControlName="toId">
      <mat-option *ngFor="let professor of professors" [value]="professor.id">
        {{professor.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <textarea formControlName="description" class="theme" matInput
    rows="20" name="comment[text]" id="comment_text" cols="40" class="theme ui-autocomplete-input"
    autocomplete="off" role="textbox" aria-autocomplete="list"
    aria-haspopup="true" placeholder="Опишіть тему" maxlength="2000"></textarea>

    <div class="errors-container">
      <ng-container *ngIf="submitted">
        <mat-error *ngIf="form.controls.toId.invalid">
          Оберіть керівника
        </mat-error>
        <mat-error *ngIf="form.controls.description.invalid">
          Тема обов'язкова
        </mat-error>
      </ng-container>
    </div>

  <button type="submit" class="sing-in-btn" mat-raised-button color="primary">Відправити запит</button>
</form>
