:host{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container{
  mat-list{
    padding-top: 20px;
    max-height: 400px;
    overflow: auto;
  }
  width: 800px;
  margin-bottom: 20px;
}
.item{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}


.actions {
  display: flex;
  justify-content: flex-end;
  button{
    width: 200px;
  }
}
