/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
* {
  margin: 0px;
}
body{
  margin: 0px;
}
.clear-btn{
  color: red;
  &:hover{
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
